extends layout.pug

block content
    .centeredContainer
        #errorContainer
            #errorTitle Error
            #errorDescription=description
            if showWorking
                #errorSubDescription We're working on it
                .loaderContainer
                    .loader
                        div
                        div
                        div
                        div
            if showRedirect
                #errorSubDescription Go to 
                    a(href="/") main page