extends layout.pug

block scripts_after
    script(src='/static/scripts/main.js' type='module')

block content
    #helloContainer
        #quizSelection
            .logoutContainer
                a.fab.clickable(href='/logout')
                    img(src='/static/img/logout.svg', alt='Finish game')
            #gameTitleContainer
                #gameTitle Algebraic game
            #quizSelectionContainer
                #scrollQuizContainer
        #statistics
            #statsBoard(hidden='')
                #bestBoard.boardContent
                    #statsTitle
                    #bestUsersResults.statsList
                        #positions.statsScroll
                #userBoard.boardContent
                    #userTitle
                    #userAnswersList.statsList
                        #questionsResults.statsScroll
            #mainControls
                button#back.clickable Back
                button#start.clickable(hidden='' removed='') Start
                button#switch.clickable(hidden='' removed='') Switch stats
    #gameContainer
        #titleContainer
            #navigationButtons
                #menu.clickable
                    img(src='/static/img/text.svg', alt='Open description')
                #logo
                    img(src='/static/img/favicon.svg', alt='Logo')
            h1#title Quiz title
            #close.clickable
                img(src='/static/img/close.svg', alt='Close quiz')
        #sideContainer
            #descriptionContent
            footer  Designed by Maciej Procyk
        #questionContainer
            #status
            #questions
            #gameControls
                button#prev.clickable Prev
                #timesData
                    #penalty.timeData Penalty time: 0s
                    #time.timeData Game time: 0:00
                button#next.clickable Next
            #finish
                #finishButton.fab.clickable
                    img(src='/static/img/finish.svg', alt='Finish game')
    #resultsContainer
        #resultsShadow
        #resultsBoard
            #resultLabel Your result is:
            #result
            #statsGameContainer
                #statsGameTitle Your answers
                #gameStats
                    .statsDetails.withPenalties
            #resultsControls
                button#goHome.clickable.outlined Go to main menu