html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1, user-scalable=no')
        meta(name='csrf-token', content=`${csrfToken}`)
        link(rel='icon', href='/static/img/favicon.svg')
        title Algebraic game
        block scripts
    style
        include style.css
    body
        block content
        block scripts_after