extends layout.pug

block scripts_after
    script(src='static/scripts/login.js' type='module')

block content
    .centeredContainer
        #loginContainer
            form(action='/auth' method='POST')
                #loginTitle Enter Elite-Games
                input(type='hidden' name='_csrf' value=`${csrfToken}`)
                #nameInputContainer.inputContainer.loginInputContainer
                    .inputLabel Username
                    input#nameInput.answerInputField(name='username' autocomplete='off')
                #passwordInputContainer.inputContainer.loginInputContainer
                    .inputLabel Password
                    input#passwordInput.answerInputField(type='password' name='password' autocomplete='off')
                button#resetPasswordButton.clickable(type='button' onclick='location.href="/reset"') Reset password
                button#login.login.clickable(type='submit') Login
