extends layout.pug

block scripts_after
    script(src='static/scripts/login.js' type='module')

block content
    .centeredContainer
        #loginContainer
            form(action='/reset' method='POST')
                #loginTitle Reset password
                input(type='hidden' name='_csrf' value=`${csrfToken}`)
                #nameInputContainer.inputContainer.loginInputContainer
                    .inputLabel Username
                    input#nameInput.answerInputField(name='username' autocomplete='off')
                #passwordInputContainer.inputContainer.loginInputContainer
                    .inputLabel Old password
                    input#passwordInput.answerInputField(type='password' name='password' autocomplete='off')
                #passwordChangeInputContainer.inputContainer.loginInputContainer
                    .inputLabel New password
                    input#newPasswordInput.answerInputField(type='password' name='reset' autocomplete='off')
                button#reset.login.clickable(type='submit') Reset password